{% extends 'base.html' %}

{% block title %}Details{% endblock %}

{% block main %}
    <br>First Name: {{ firstname }}
    <br>Last Name: {{ lastname }}
    <br>Gender: {{ gender }}
    <br>Address: {{ address }}
    <br>Employer: {{ employer }}
    <br>Email: {{ email }}
    <br>City: {{ city }}
    <br>State: {{ state }}
{% endblock %}


{#{"account_number":44,"balance":34487,"firstname":"Aurelia","lastname":"Harding","age":37,"gender":"M","address":"502 Baycliff Terrace","employer":"Orbalix","email":"aureliaharding@orbalix.com","city":"Yardville","state":"DE"}#}